Repository jenkins-x-plugins/jx-updatebot, pull requests merged in 2021-08, with the labels that each got.

#33 feat: add argo helm repo support
  pkg/argocd/app_version.go
  pkg/cmd/argo/promote/test_data/simple/expected/myapp-git.yaml
  pkg/cmd/argo/promote/test_data/simple/expected/myapp-helm.yaml
  pkg/cmd/argo/promote/test_data/simple/source/myapp-git.yaml
  pkg/cmd/argo/promote/test_data/simple/source/myapp-helm.yaml
Labels: ok-to-test, lgtm, approved, size/M

#34 fix: typo
  pkg/argocd/app_version.go
  pkg/cmd/argo/promote/test_data/simple/expected/myapp-helm.yaml
  pkg/cmd/argo/promote/test_data/simple/source/myapp-helm.yaml
Labels: ok-to-test, lgtm, approved, size/XS

#36 fix: upgrade deps
  go.mod
  go.sum
Labels: approved, size/L
